<!DOCTYPE HTML>
<!--[if IE ]>
<html class="en ie--brow">
<![endif]-->
<!--[if !(IE)]><!-->
<html class="en ">
<!--<![endif]-->
<head>
  <!--[if lte IE 8]>
  <script>
    location.href="/browser-update";
  </script>
  <![endif]-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="baidu-site-verification" content="6ikDVFjrIh" />
  <meta name="csrf-token" content="T1T1VVsBQULZ6uOBnSbTyNPdm8SE2Uq29aUUB1f6"/>
  <meta name="keywords" content="V-Coptr Falcon, Falcon, zerozero, zero zero, zero zero robotics, Hover, Hover Camera, Hover Camera Passport, Hover drone, drone"/>
  <meta name="description" content="V-Coptr Falcon, V-shaped bi-copter, the most safe, portable, easy-to-use and follow me flying camera, autonomously captures all your little moments in life in 4K."/>
  <meta property="og:image" content="https://static.gethover.com/build/images/new/og-img-4dcc1d7dcd.jpg" />
  <link rel="stylesheet"  href="https://static.gethover.com/build/css/hoverui-8a0491cf4b.css">

  <meta property="og:url"                content="https://zerozero.tech"/>
  <meta property="og:title"              content="Zero Zero Robotics" />
  <meta property="og:description"        content="V-Coptr Falcon, V-shaped bi-copter" />
  <meta property="og:image"              content="https://static.gethover.com/build/images/new/og-img-4dcc1d7dcd.jpg" />
  <meta property="fb:app_id"             content="841215786013066" />

  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@zerozerorobotics" />
  <meta name="twitter:title" content="Zero Zero Robotics" />
  <meta name="twitter:description" content="V-Coptr Falcon, V-shaped bi-copter" />
  <meta name="twitter:image" content="https://static.gethover.com/build/images/new/og-img-4dcc1d7dcd.jpg"/>

  <meta name="google-site-verification" content="FckMP5wAuzfUHG4ayAmYTgnZBBiyAeo9z_x1bc_62M8" />


      <script>
        // 根据屏幕宽度初始化页面html根font-size;
        var docEl = document.documentElement,
            gStyleType = null;
            // 手持方向改变  or 屏幕宽度变化*/
            // resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
        recalc = function() {
            // 屏幕宽度*/
            var clientWidth = docEl.clientWidth,
                clientHeight = docEl.clientHeight;
            if (!clientWidth) {
                return;
            }
            if(clientWidth > 768){
                gStyleType = 'pc';
            }else {
                gStyleType = 'mobile';
            }
            docEl.style.fontSize = 40 * (clientWidth / 640) + 'px';
        };

        recalc();

        window.onresize = function() {
            recalc();
        };
        window.onorientationchange = function() {
            recalc();
        };
  </script>
    <script src="https://static.gethover.com/build/distjs/base-5400800ae2.js"></script>
  <title>V-Coptr Falcon - A new drone for a new decade</title>
<link rel="stylesheet" type="text/css" href="https://static.gethover.com/build/css/pc/index-fc-33b7045325.css">
<script src="https://static.gethover.com/build/distjs/app/indexPage-ec42852fb4.js"></script>
<link rel="stylesheet" href="https://static.gethover.com/build/css/plugins/video-js-a2cff8de6f.min.css">
<link rel="stylesheet" href="https://static.gethover.com/build/css/plugins/videojs-resolution-switcher-ed311cf86b.css">
<script src="https://static.gethover.com/build/js/lib/touch/hammer-1506598149.min.js"></script>

        
  <script>
      var hcGlobal = {
          component:{
              cart:true,
              account: true,
          },
          serviceRegion:'en',
          ipIsChina: false,
          isCheck:false,
          isMobile: false,
          isPc: true,
          isTablet: false,
          isWeixin: false,
          email: "",
          device: "Windows",
          isIE: isIE(),
          appUrl:"https://zerozero.tech",
          currentCountryName: 'Mexico',
          locale:"en",
          country:"mx",
          buyNowLink:"/hover-camera-passport?type=buynow",
          appleConfigs:false,
          buyNowLinkNewTab:true,
          paypalDiscountOpenIndex:false,
          paypalDiscountOpen: false,
          eduDiscountOpen: false,
      }
      function isIE() {
          var win = window;
          var doc = win.document;
          var input = doc.createElement ("input");
          //"!win.ActiveXObject" is evaluated to true in IE11
          if (win.ActiveXObject === undefined) return null;
          if (!win.XMLHttpRequest) return 6;
          if (!doc.querySelector) return 7;
          if (!doc.addEventListener) return 8;
          if (!win.atob) return 9;
          if (!input.dataset) return 10;
          return 11;
      };

  </script>
        <!-- Facebook Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '520359845005562');
        fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=520359845005562&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Facebook Pixel Code -->
  </head>
<body>
<!--4c79382d5474}-->

        <div class="header" id="header">
        <div class="visible__pc">
            <div class="pc-header">
                <div class="pc-header--content">
                   <a class="logo" href="/" title="Zero Zero Robotics"></a>
<div class="header_menus">

    <!-- v-coprt -->
    <div class="header__menu" v-on:mouseenter="navsControl.isShowProductList = true" v-on:mouseleave="navsControl.isShowProductList = false">
        <div class="menu">
            <span><a @click="trackGoogleEvent('product_falcon', 'header-V-Coptr')" href="/" title="V-Coptr Falcon">V-Coptr Falcon</a></span>
        </div>
    </div>


    <!-- key-specs -->
    <div class="header__menu">
        <div class="menu">
            <span><a @click="trackGoogleEvent('falcon_key_specs', 'header-Specs')" href="/falcon-key-specs" title="Falcon Specs">Specs</a></span>
        </div>
    </div>

    <!-- 选择国家菜单 -->
    <div class="header__menu lang" @click="showLangList = !showLangList,navsControl.isShowAccountList = false,navsControl.isShowProductList = false" v-cloak>
        <div class="menu" v-if="headerElements.headerCountrySelect">
            <span id="cname">{{headerElements.headerCountrySelect.text}}</span><span id="cicon" class="icon-triangle2" v-bind:class="showLangList ? 'close' : '' "></span>
        </div>
        <div id="select__count" class="nav--content fixed__width" v-show="showLangList" v-on:mouseover="showLangList = true">
            <div class="content__box">
                <div class="continent" v-for="cont in countryDatas">
                    <div class="continent__header">
                        <div class="continent__name">
                            <span v-text="cont.continent"></span>
                        </div>
                        <div class="continent__line">
                        </div>
                    </div>
                    <div class="continent__country">
                        <div class="continent__country__items " v-bind:class="[count.countryName.length > 15 ? big__block : normal__block]" v-for="count in cont.continentCountry">
                            <div class="continent__country__item" v-on:click="changeLanguage(count.linkHref,count.countryName)">
                                <div class="continent__country__item__country" v-bind:class="[currentCountryCode == count.linkHref ? current : uncurrent ]">
                                    <div class="name__country">
                                        <span class="icon-Combined-Shape2 select__icon" v-show="currentCountryCode == count.linkHref"></span>
                                        <span class="name" v-text="count.countryName"></span>
                                    </div>
                                    <div class="language_country">
                                        <span v-text="count.language"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 账号菜单及子菜单 -->
    <div class="header__menu">
        <div class="menu account">
                        <span class="icon-falcon-header-person" @click="toggleAccountlist('sign-in-up','/account/sign-in-up')"></span>
                    </div>
    </div>
    <div class="buynow">
            </div>
</div>                </div>
            </div>
        </div>
        <div class="visible__mobile">
            <div class="mobile__header">
                <div class="mobile-header--content">
                    <div class="border--content">
    <a class="logo" href="/" title="Zero Zero Robotics"></a>
        <a class="nav_en icon-nav-header" v-on:click="toggleNavlist" title="nav"></a>
        <a style="display: none" class="nav icon-close-header" v-on:click="toggleNavlist"></a>
    </div>

<!-- 产品详情、falcon参数、国家地区子菜单 -->
<div class="nav--content" v-show="navList" style="display:none;">
    <ul class="navs__list">
        <!-- v-coprt -->
        <li>
            <div class="nav__item" v-on:click="trackGoogleEvent('product_falcon', 'header-V-Coptr', 'linkTo', '/')">
                <span>V-Coptr Falcon</span>
            </div>
            <div class="line"></div>
        </li>

        <!-- 产品参数 -->
        <li>
            <div class="nav__item" v-on:click="trackGoogleEvent('falcon_key_specs', 'header-Specs', 'linkTo', '/falcon-key-specs')">
                <span>Specs</span>
            </div>
            <div class="line"></div>
        </li>

        <!-- 订单 -->
        
        <!-- 选择国家 -->
        <li class="country">
            <div class="nav__item" v-on:click="goCountrySelect()">
                <span>Region</span>
                <span class="country-name" v-if="headerElements.headerCountrySelect">{{headerElements.headerCountrySelect.text}} &nbsp;&nbsp;&nbsp;<span class="icon-page-right"></span></span>
            </div>
            <div class="line"></div>
        </li>

        <!-- 登录/退出 -->
        <div class='in-out'>
                        <div class="login" @click="toggleAccountlist('sign-in-up','/account/sign-in-up')">Login / Register</div>
                    </div>
    </ul>
</div>
<!-- 选择产品子菜单 -->
<div class="order-menu" v-if="navsControl.isShowProductList" v-cloak>
    <span class="icon-close-header" v-on:click="navsControl.isShowProductList=false"></span>
        <div class='item falcon' v-on:click="goSelectFalcon('/shop/product/falcon-select-product')">
        <p>V-Coptr Falcon</p>
        <div class="image">
            <img src="https://static.gethover.com/build/images/falcon/header/pic_order_falcon-c15f004f43.png" alt="V-Coptr Falcon">
        </div>
    </div>
    </div>                </div>
            </div>
        </div>
    </div>
    <div class="wrapper showcase__load" id="wrapper" data-serviceRegion="en" data-login="">

        <div class="content__hover" data-js="https://static.gethover.com/build/distjs/app/index-fc-9cc7accf31.js">
    <div class="fc_index_content" id="indexPc">
        <div class="product__video">
            <template v-if="videoShow">
                <videopop-com :prop-video-info="videoInfo"></videopop-com>
            </template>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="section__head__screen">
                        <div class="slogan">
                            <span class="icon-logo_vcoptr"></span>
                            <h1>V-shaped bi-copter</h1>
                        </div>
                        <img src="https://static.gethover.com/build/images/falcon/index/index_head_bg_new-ec116333b2.png" alt="falcon">
                        <div class="play__button" v-on:click="showVideo('indexVideo')">
                            <div class="icon__play"></div>
                        </div>
                                            </div>
                </div>
            </div>
        </div>
        <div class="section__feature__introduce">
            <div class="feature__list">
                <ul>
                    <li>
                        <span class="icon-fc_v_shaped_dual_rotor"></span>
                        <p>V-shaped bi-copter</p>
                    </li>
                    <li>
                        <span class="icon-fc_50min_flight_time"></span>
                        <p>50min flight time</p>
                    </li>
                    <li>
                        <span class="icon-icon_fc_tilt_rotor_control"></span>
                        <p> Tilt rotor control</p>
                    </li>
                    <li>
                        <span class="icon-fc_3axis_gimbal"></span>
                        <p>3-axis gimbal</p>
                    </li>
                    <li class='4k'>
                        <span class="icon-fc_4k_video"></span>
                        <p>4K video</p>
                    </li>
                    <li>
                        <span class="icon-fc_rth"></span>
                        <p>RTH</p>
                    </li>
                    <li>
                        <span class="icon-fc_7km_transmission_distance"></span>
                        <p>7km transmission distance</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section__fly_longer">
            <div class="tx">
                <div class="intro">
                    <div class="title">A new drone for a new decade</div>
                    <div class="content">Brand new V-shaped dual-rotor propulsion system combined with proprietary tilt rotor technology, and nonlinear dynamic modeling and control algorithms enable 50min extra long flight time.</div>
                </div>
                <div class="images">
                    <img src="https://static.gethover.com/build/images/falcon/index/fly-long-b1131b2431.png" alt="V-Coptr Falcon">
                </div>
            </div>
            <div class='list'>
                <div class='item'>
                    <div class="tp">
                        <img src="https://static.gethover.com/build/images/falcon/index/xh50-d302269b2a.jpg" alt="50-minute flight time">
                    </div>
                    <div class="js">
                        <p class="title">50-minute flight time</p>
                        <p class="content">V-shaped dual-rotor propulsion system is more efficient than quadcopters of the same size under the same payload.</p>
                    </div>
                </div>
                <div class='item'>
                    <div class="tp">
                        <img src="https://static.gethover.com/build/images/falcon/index/glxscjz-516b9cedaf.jpg" alt="Lower noise profile">
                        <div class="play__button" v-on:click="showVideo('glxscjzVideo')">
                            <div class="icon__play"></div>
                        </div>
                    </div>
                    <div class="js">
                        <p class="title">Lower noise profile</p>
                        <p class="content">Slower rotation of the propellers and patented propeller design create lift with higher efficiency and less noise.</p>
                    </div>
                </div>
                <div class='item'>
                    <div class="tp">
                        <img src="https://static.gethover.com/build/images/falcon/index/sxydjqzjs-f915642341.jpg" alt="Tilt rotor technology">
                        <div class="play__button" v-on:click="showVideo('sxydjqzjsVideo')">
                            <div class="icon__play"></div>
                        </div>
                    </div>
                    <div class="js">
                        <p class="title">Tilt rotor technology</p>
                        <p class="content">Sophisticated industrial design, nonlinear dynamic modeling and control algorithms empower stable flight with high agility.</p>
                    </div>
                </div>
                <div class='item'>
                    <div class="tp">
                        <img src="https://static.gethover.com/build/images/falcon/index/szjxzwyt-978a8607fe.jpg" alt="3-axis mechanical gimbal">
                    </div>
                    <div class="js">
                        <p class="title">3-axis mechanical gimbal</p>
                        <p class="content">Stable videos with yaw control range of &plusmn;80 degrees.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__feature__details">
            <div class="content">
                <div class='item cq4k'>
                    <div class="tp">
                        <img src="https://static.gethover.com/build/images/falcon/index/feature-4k-99d509229b.jpg" alt="4K Crystal Clear Video">
                    </div>
                    <div class="js">
                        <div class="title">4K Crystal Clear Video</div>
                        <div class="xq">1/2.3 inch 12 MP CMOS sensor</div>
                    </div>
                </div>
                <div class='item zngp'>
                    <div class="tp">
                        <img src="https://static.gethover.com/build/images/falcon/index/feature-zngp-2466561ca2.jpg" alt="Autofollow">
                        <div class="play__button" v-on:click="showVideo('zngpVideo')">
                            <div class="icon__play"></div>
                        </div>
                    </div>
                    <div class="js">
                        <div class="wz">
                            <div class="title">Autofollow</div>
                            <div class="xq">Upgraded visual tracking algorithms allow V-Coptr Falcon to follow the target accurately and stably.</div>
                        </div>
                        <div class="change_trigger">
                            <div class='bottom'>
                                <span class='icon icon-fc_back'></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='item sjbz'>
                    <div class="js">
                        <div class="wz">
                            <div class="title">Obstacle Avoidance</div>
                            <div class="xq">V-Coptr Falcon is equipped with advanced VIO (Visual Inertial Odometry) and a front facing stereo camera. It can map its surroundings, detect obstacles, and avoid collisions in realtime.</div>
                        </div>
                    </div>
                    <div class="tp">
                        <img src="https://static.gethover.com/build/images/falcon/index/feature-sjbz-9473e1f15f.jpg" alt="Obstacle Avoidance">
                        <div class="play__button" v-on:click="showVideo('sjbzVideo')">
                            <div class="icon__play"></div>
                        </div>
                    </div>
                </div>
                <div class='item yjdp'>
                    <div class="tp">
                        <img src="https://static.gethover.com/build/images/falcon/index/feature-yjdp-ea7cad61d0.jpg" alt="Trackshots">
                        <div class="play__button" v-on:click="showVideo('yjdpVideo')">
                            <div class="icon__play"></div>
                        </div>
                    </div>
                    <div class="js">
                        <div class="wz">
                            <div class="title">Trackshots</div>
                            <div class="xq">Pre-programmed flight paths help you achieve cinematic effects.</div>
                        </div>
                        <div class="change_trigger">
                            <div class='left'>
                                <span class='icon icon-fc_helium'></span>
                            </div>
                            <div class='center'>
                                <span class='icon icon-fc_surge'></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='item tc7k'>
                    <div class="tp">
                        <img src="https://static.gethover.com/build/images/falcon/index/feature-7ktc-72d31ba08a.jpg" alt="7 Kilometer Transmission Distance">
                    </div>
                    <div class="js">
                        <div class="title">7 Kilometer Transmission Distance</div>
                        <div class="xq">With 50 minutes of flight time and 7 kilometer transmission distance, fly as high and far as you&rsquo;d like.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__bottom">
            <div class="image">
                <img src="https://static.gethover.com/build/images/falcon/index/bottom-fc-02-95ae03bd89.png" alt="Falcon">
            </div>
        </div>
    </div>
</div>
        <div id="footer">
          <div class="footer visible__pc" >
            <div class="content">
    <!-- 产品列表 -->
    <div class="product">
        <p class="title">Products</p>
        <p><a @click="trackGoogleEvent('product_falcon', 'footer-V-Coptr')" href="/" title="V-Coptr Falcon">V-Coptr Falcon</a></p>
        <p><a @click="trackGoogleEvent('product_hover2', 'footer-Hover2')" href="/hover2" title="Hover 2">Hover 2</a></p>
        <p><a @click="trackGoogleEvent('product_hcp', 'footer-HoverCameraPassport')" href="/hover-camera-passport" title="Hover Camera Passport">Hover Camera Passport</a></p>
    </div>
    <!-- 客户中心 -->
    <div class="costomer-care">
        <p class="title">Customer Service</p>
                <p><a href="/support/downloads" title="Product Support">Product Support</a></p>
        <p><a href="/terms" title="Terms Of Use">Terms Of Use</a></p>
        <p><a href="/privacy" title="Privacy Policy">Privacy Policy</a></p>
        <p><a href="/support/warranty" title="Warranty">Warranty</a></p>
    </div>
    <!-- 我们公司 -->
    <div class="our-company">
        <p class="title">Company</p>
        <p><a href="/show-case" title="Gallery">Gallery</a></p>
        <p><a @click="trackGoogleEvent('contact_us', 'footer-ContactUs')" href="/support/contact-us" title="Contact Us">Contact Us</a></p>
        <p><a href="/about-us" title="About Zero Zero">About Zero Zero</a></p>
        <p>
                        <a class="hover--span__underline" v-on:click="alertJob" title="Join Us"><span>Join Us</span></a>
                    </p>
    </div>
    <!-- 其他 -->
    <div class="other">
        <!-- 订阅 -->
        <div class="sub">
            <div class="sub-input">
                <input id="emailSubscribe" type="email" placeholder="Your Email" v-model="inputEmail" name="email" style="display: inline-block">
                <button v-on:click="subscribe($event)">Subscribe</button>
                <p class="emailPrompt" v-text="emailPrompt"></p>
            </div>
        </div>
        <!-- 分享 -->
        <ul class="share--platform">
                        <li>
                <a target="_blank" href="" v-on:click="trackGoogleEvent('footer-facebook','go-facebook')" title="facebook" rel="nofollow"><span class="icon-facebook"></span></a>
            </li>
            <li>
                <a target="_blank" href="" v-on:click="trackGoogleEvent('footer-twitter','go-twitter')" title="twitter" rel="nofollow"><span class="icon-twitter"></span></a>
            </li>
            <li>
                <a target="_blank" href="" v-on:click="trackGoogleEvent('footer-instagram','go-instagram')" title="instagram" rel="nofollow"><span class="icon-instagram"></span></a>
            </li>
            <li>
                <a target="_blank" href="" v-on:click="trackGoogleEvent('footer-instagram','go-youtube')" title="youtube" rel="nofollow"><span class="icon-youtube"></span></a>
            </li>
                    </ul>
        <!-- 版权 -->
        <div class="copyright">
            <p>©️2019 Zero Zero Robotics &nbsp;|&nbsp; <a href="" title="icp" rel="nofollow">粤ICP备16023465号</a></p>
        </div>
    </div>
</div>          </div>
          <div class="footer--mobile visible__mobile" id="footer">
            <div class="content">
    <!-- 产品列表 -->
    <div class="product">
        <p class="title">Products</p>
        <p><a @click="trackGoogleEvent('product_falcon', 'footer-V-Coptr')" href="/" title="V-Coptr Falcon">V-Coptr Falcon</a></p>
        <p><a @click="trackGoogleEvent('product_hover2', 'footer-Hover2')" href="/hover2" title="Hover 2">Hover 2</a></p>
        <p><a @click="trackGoogleEvent('product_hcp', 'footer-HoverCameraPassport')" href="/hover-camera-passport" title="Hover Camera Passport">Hover Camera Passport</a></p>
    </div>
    <!-- 了解我们 -->
    <div class="our-company" style="width: 35%;margin-left:13%">
        <p class="title">Company</p>
        <p><a href="/show-case" title="Gallery">Gallery</a></p>
        <p><a @click="trackGoogleEvent('contact_us', 'footer-ContactUs')" href="/support/contact-us" title="Contact Us">Contact Us</a></p>
        <p><a href="/about-us" title="About Zero Zero">About Zero Zero</a></p>
        <p>
                        <a class="hover--span__underline" v-on:click="alertJob" title="Join Us"><span>Join Us</span></a>
                    </p>
    </div>
    <!-- 客户中心 -->
    <div class="costomer-care">
        <p class="title">Customer Service</p>
                <p><a href="/support/downloads" title="Product Support">Product Support</a></p>
        <p><a href="/terms" title="Terms Of Use">Terms Of Use</a></p>
        <p><a href="/privacy" title="Privacy Policy">Privacy Policy</a></p>
        <p><a href="/support/warranty" title="Warranty">Warranty</a></p>
    </div>
    <!-- 其他 -->
    <div class="other">
        <!-- 订阅 -->
        <div class="sub">
            <div class="sub-input">
                <input id="emailSubscribe" type="email" placeholder="Your Email" v-model="inputEmail" name="email" style="display: inline-block">
                <button v-on:click="subscribe($event)">Subscribe</button>
                <p class="emailPrompt" v-text="emailPrompt"></p>
            </div>
        </div>
        <!-- 分享 -->
        <ul class="share--platform">
                        <li>
                <a target="_blank" href="https://www.facebook.com/ZeroZeroRobotics" v-on:click="trackGoogleEvent('footer-facebook','go-facebook')" title="facebook" rel="nofollow"><span class="icon-facebook"></span></a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/zerozerorobotix" v-on:click="trackGoogleEvent('footer-twitter','go-twitter')" title="twitter" rel="nofollow"><span class="icon-twitter"></span></a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/zerozero_robotics/" v-on:click=" trackGoogleEvent('footer-instagram','go-instagram')" title="instagram" rel="nofollow"><span class="icon-instagram"></span></a>
            </li>
            <li>
                <a target="_blank" href="http://youtube.com/c/zerozerorobotics" v-on:click="trackGoogleEvent('footer-instagram','go-youtube')" title="youtube" rel="nofollow"><span class="icon-youtube"></span></a>
            </li>
                    </ul>
        <!-- 版权 -->
        <div class="copyright">
            <p>©️2019 Zero Zero Robotics &nbsp;|&nbsp; <a href="http://www.beian.miit.gov.cn" title="icp" rel="nofollow">粤ICP备16023465号</a></p>
        </div>
    </div>
    <div style="clear:both"></div>
</div>          </div>
        </div>

                <template v-if="showLoginpop" transition="popup__bg--show">
          <loginpop-com :show-loginpop.sync="showLoginpop" :direct-url.sync="directUrl"></loginpop-com>
        </template>

    </div>
      <!-- ptengine -->
  <script type="text/javascript">
    window._pt_lt = new Date().getTime();
    window._pt_sp_2 = [];
    _pt_sp_2.push('setAccount,4c34a0c8');
    var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    (function() {
        var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
        atag.src = _protocol + 'js.ptengine.cn/pta.js';
        var stag = document.createElement('script'); stag.type = 'text/javascript'; stag.async = true;
        stag.src = _protocol + 'js.ptengine.cn/pts.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(atag, s); s.parentNode.insertBefore(stag, s);
    })();
  </script>
</body>
<script src="https://static.gethover.com/build/distjs/requireConfig-b8898031c9.js"></script>
<!--4c79382d5474-->
<script src="https://static.gethover.com/build/js/lib/rotate/jqueryRotate-6136b8c542.js"></script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer',"GTM-TXZKD65");</script>
  <!-- End Google Tag Manager -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXZKD65" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  <!-- 谷歌统计 Code -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create',"UA-70872252-5", 'auto');
    // Updates the tracker to use `navigator.sendBeacon` if available.
    ga('set', 'transport', 'beacon');
    // 创建 checkout 页面跟踪器
    ga('create', "UA-70872252-5", 'auto', 'checkoutTracker');
    ga('send', 'pageview');
    // 加载电子商务插件
    ga('checkoutTracker.require', 'ecommerce');

    // 定义checkout send事件
    function googleTrackCheckout(id,affiliation,revenue,shipping,tax){
      // 配置要发送的数据
      ga('checkoutTracker.ecommerce:addTransaction', {
        'id': id,                     // Transaction ID. Required.
        'affiliation': affiliation,   // Affiliation or store name.
        'revenue': revenue,               // Grand Total.
        'shipping': shipping,                  // Shipping.
        'tax': tax                    // Tax.
      });
      // 发送数据
      ga('checkoutTracker.ecommerce:send');
    }
    // 定义发送事件统计回调函数 超时处理
    function createFunctionWithTimeout(callback, opt_timeout) {
        var called = false;
        function fn() {
            if (!called) {
                called = true;
                callback();
            }
        }
        setTimeout(fn, opt_timeout || 1000);
        return fn;
    }
    // 监听点击触发动作事件 video playbannerVideo
    function googleTrackClickEvent(eventCategory,eventAction,eventLabel,hitCallback){
      if(typeof(hitCallback) === "function"){
        ga('send', {
          hitType: 'event',
          eventCategory: eventCategory,
          eventAction: eventAction,
          eventLabel: eventLabel,
          hitCallback: createFunctionWithTimeout(hitCallback)
        });
      }else {
        ga('send', {
          hitType: 'event',
          eventCategory: eventCategory,
          eventAction: eventAction,
          eventLabel: eventLabel
        });
      }
    }
    function googleTrackSubscribe(){
      ga('send', 'event', 'footer-subscribe', 'subscribe', 'Hover Camera subscribe');
    }

    function googleTrackWaitlist(){
      ga('send', 'event', 'waitlist', 'success', 'Hover Camera waitlist');
    }
  </script>
  <!-- End 谷歌统计 Code -->
<!-- 百度统计 Code -->
 <script>
   var _hmt = _hmt || [];
   (function() {
     var hm = document.createElement("script");
     hm.src = "//hm.baidu.com/hm.js?bce815e660dffa0d7dbce480a04be1b9";
     var s = document.getElementsByTagName("script")[0];
     s.parentNode.insertBefore(hm, s);
   })();
 </script>
<!-- End 百度统计 Code -->
</html>
